In [39]:
import numpy as np

In [40]:
%load_ext autoreload
%autoreload 2

In [42]:
from NeuralNetNLayer import NeuralNet

**Load in and transform the dataset**

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
np.random.seed(1)

In [4]:
df = pd.read_csv('mnist/train.csv')

In [5]:
# Keep only the first two numbers (0 and 1) to convert this to binary classification
df_two = df[df['label'] <= 1]
df_two.label.value_counts()

1    4684
0    4132
Name: label, dtype: int64

In [6]:
# Check out the data - pixel values range from 0 to 255
df_two.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Split into X and y training and validation sets 
X_train, X_test, y_train, y_test = train_test_split(df_two.drop('label', axis=1), df_two['label'], train_size = 0.67)

In [32]:
# Standardize Before transposing (skelearn assumes obs x features format)
scaler = StandardScaler()
scaler = scaler.fit(X_train)
X_s = scaler.transform(X_train)
# Transpose X and convert to an array
X_t = X_s.T
X_t.shape

(784, 5906)

In [29]:
# Transpose y and convert to an array
y_t = y_train.values.reshape(1, len(y_train))
y_t.shape

(1, 5906)

**Create and train the model**

In [43]:
# Create and train the model 
clf = NeuralNet(X_ts, y_t, [6, 3, 1])

In [44]:
# Train
clf.train(0.5, 300)

Iteration: 0 , Cost, Accuracy 0.6931471124308375 43.71825262444971
Iteration: 100 , Cost, Accuracy 0.05789996527617917 99.89840839823908
Iteration: 200 , Cost, Accuracy 0.017372414665943497 99.91534033186589
Iteration: 300 , Cost, Accuracy 0.01027858256261468 99.98306806637318
Iteration: 400 , Cost, Accuracy 0.007388440872960826 99.98306806637318
Iteration: 500 , Cost, Accuracy 0.005858702071983632 99.98306806637318
Iteration: 600 , Cost, Accuracy 0.00492250527493986 99.98306806637318
Iteration: 700 , Cost, Accuracy 0.004293882975818099 99.98306806637318
Iteration: 800 , Cost, Accuracy 0.003844276383490368 99.98306806637318
Iteration: 900 , Cost, Accuracy 0.0035077862035987435 99.98306806637318
Iteration: 1000 , Cost, Accuracy 0.003247099183613537 99.98306806637318
Iteration: 1100 , Cost, Accuracy 0.0030396117598275392 99.98306806637318
Iteration: 1200 , Cost, Accuracy 0.002870856633026941 99.98306806637318
Iteration: 1300 , Cost, Accuracy 0.0027311602156891994 99.98306806637318
Iteration: 1400 , Cost, Accuracy 0.002613759225251642 99.98306806637318

**Test accuracy on the validation dataset**

In [45]:
# Standardize (using the original values) and transform
X_s = scaler.transform(X_test)
X_v = X_s.T
X_v.shape

(784, 2910)

In [46]:
y_v = y_test.values.reshape(1, len(y_test))
y_v.shape

(1, 2910)

In [49]:
clf.validation_accuracy(X_v=X_v, y_v=y_v)

98.65979381443299